<?xml version="1.0"?>
<launch>
    <arg name="sim" default="true" />

    <include file="$(find pkg_ur5e_r)/launch/connect_ur5e.launch">
        <arg name="sim" value="$(arg sim)"/>
    </include>

    <node name="trajectory_controller" type="rqt_joint_trajectory_controller" pkg="rqt_joint_trajectory_controller"/>

</launch>