<?xml version="1.0"?>
<launch>
    <arg name="sim" default="true"/>
    <arg name="use_rviz" default="true" />

    <!-- Launch Moveit move_group Node -->
    <include file="$(find ur5e_moveit_config)/launch/ur5e_moveit_planning_execution.launch">
        <arg name="sim" value="$(arg sim)"/>
    </include>

    <!-- Run RViz with Moveit! Plugin -->
    <include file="$(find ur5e_moveit_config)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
        <arg name="rviz_config" value="$(find ur5e_moveit_config)/launch/moveit.rviz"/>
    </include>

</launch>