<?xml version="1.0"?>
<launch>
    <arg name="sim" default="true"/>
    <arg name="use_rviz" default="true" />

    <!-- Launch Moveit move_group Node -->
    <include file="$(find ur5e_moveit_config)/launch/ur5e_moveit_planning_execution.launch">
        <arg name="sim" value="$(arg sim)"/>
    </include>

    <!-- Run RViz with Moveit! Plugin -->
    <include file="$(find ur5e_moveit_config)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
        <arg name="rviz_config" value="$(find ur5e_moveit_config)/launch/moveit.rviz"/>
    </include>

    <!-- Add table to MoveIt! planning group in UR5e RViz -->
    <arg name="scene_file" default="$(find pkg_ur5e_r)/config/rviz/ur5e_env.scene"/>
    <node name ="moveit_publish_scene_from_text" pkg="moveit_ros_planning" type="moveit_publish_scene_from_text" args="$(arg scene_file)"/>

    <!-- Spawn bottle -->
    <node name ="node_spawn_cricket_ball" pkg="pkg_ur5e_r" type="node_spawn_bottle.py"/>
    

</launch>