<launch>

    <!-- Launch gazebo environment -->
    <include file="$(find pkg_ur5e_r)/launch/gazebo_env.launch" />

    <!-- <include file="$(find ur5e_moveit_config)/launch/ur5e_moveit_planning_execution.launch" /> -->
    <!-- Launch Moveit move_group Node -->
    <include file = "$(find pkg_moveit_ur5er)/launch/move_group.launch" /> 
    <!-- Run RViz with Moveit! Plugin -->
    <arg name="use_rviz" default="true" />

    <include file="$(find pkg_moveit_ur5er)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
        <arg name="rviz_config" value="$(find pkg_moveit_ur5er)/launch/moveit.rviz"/>
    </include> -->

    <!-- Run node to move the robot -->
    <node name= "node_ur5er" pkg= "pkg_ur5e_r" type="node_move_ur5e.py" output="screen"/>

</launch>